.timer-container {
  align-items: center;
  background-color: var(--primary-color-light);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: var(--space-st) var(--space-xl);
}

.timer-container .timer-count {
  color: var(--primary-color-dark);
  font-size: var(--font-size-xxl);
}

.timer-container button {
  background-color: var(--primary-color-dark);
  border-radius: 4px;
  border: none;
  color: var(--text-color-light);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-top: var(--space-st);
  padding: var(--space-md);
  text-transform: uppercase;
  width: 100%;
}

.timer-container button:hover {
  cursor: pointer;
  opacity: 0.85;
}
