.timer-card {
  height: 200px;
  position: relative;

  .timer-progress {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .timer-time {
    position: relative;
  }
}
